[alias]
  st = status
  ck = checkout
  lg = log --all --decorate --oneline --graph
  amend = commit --amend --no-edit
  undo = reset --soft HEAD~1
  wip = !git add -A && git commit -m "WIP"
[core]
  editor = nvim
  pager = delta
  autocrlf = input
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  side-by-side = true
[pull]
  rebase = false
[merge]
  tool = nvimdiff
  conflictstyle = diff3
[diff]
  colorMoved = default
  tool = nvimdiff
  guitool = nvimdiff
[mergetool]
  keepBackup = false
  trustExitCode = false
  prompt = true
[difftool]
  prompt = false
[mergetool "nvimdiff"]
  layout = "LOCAL,BASE,REMOTE / MERGED"
[credential "https://github.com"]
	helper =
	helper = !/home/mcma/.local/share/mise/installs/gh/2.92.0/gh_2.92.0_linux_amd64/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/home/mcma/.local/share/mise/installs/gh/2.92.0/gh_2.92.0_linux_amd64/bin/gh auth git-credential
